@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/Open_Sans/OpenSans-Bold.ttf); }
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/Open_Sans/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url(../fonts/Open_Sans/OpenSans-LightItalic.ttf); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background: #ffffff;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 16px; }

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

/* ------- ------- HEADER ------- -------- */
header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 600px;
  background-image: linear-gradient(-225deg, rgba(71, 59, 123, 0.699) 0%, rgba(53, 133, 167, 0.712) 51%, rgba(48, 210, 191, 0.521) 100%), url("../img/bg2.jpg");
  background-attachment: fixed; }
  header .menu {
    margin: 40px 0px;
    text-align: right; }
    header .menu a {
      display: inline-block;
      margin: 0 20px;
      color: #ffffff;
      padding-bottom: 9px;
      font-size: 1.2em;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      font-family: 'OpenSans-Light';
      font-weight: 300; }
      header .menu a:hover {
        border-bottom: 2px solid #ffffff; }
  header .contenedor-texto {
    margin: 190px 0;
    display: flex;
    justify-content: center;
    align-content: center; }
    header .contenedor-texto .texto {
      border: 2px solid rgba(255, 255, 255, 0.5);
      border-radius: 3px;
      display: inline-block;
      text-align: center;
      padding: 20px 60px; }
      header .contenedor-texto .texto h1, header .contenedor-texto .texto h2 {
        color: #ffffff;
        font-family: 'OpenSans-Light';
        font-weight: 300;
        margin: 0; }
      header .contenedor-texto .texto .nombre {
        margin-bottom: 15px;
        font-size: 40px;
        line-height: 50px; }
      header .contenedor-texto .texto .profesion {
        font-size: 25px;
        line-height: 25px; }
  header .degradado {
    width: 100%;
    height: 100%; }

/* ------- ------- Main ------- -------- */
main .acerca-de {
  text-align: center; }
  main .acerca-de .contenedor {
    overflow: visible; }
  main .acerca-de .foto {
    margin-top: -60px; }
    main .acerca-de .foto img {
      vertical-align: top;
      border-radius: 50%;
      border: 5px solid rgba(255, 255, 255, 0.5); }
  main .acerca-de .texto {
    color: #9b9a9a;
    font-family: 'OpenSans-SemiBold';
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto; }
    main .acerca-de .texto .titulo {
      font-size: 34px;
      line-height: 34px;
      margin-bottom: 30px;
      color: #dd820d;
      text-align: center;
      font-family: 'OpenSans-Light';
      font-weight: 300; }
    main .acerca-de .texto .bold {
      color: #3895ea;
      text-decoration: underline; }

main .trabajos {
  background: #f2f2f2;
  padding: 60px 0px 20px 0px; }
  main .trabajos .contenedor {
    overflow: hidden; }
  main .trabajos .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 45px;
    color: #dd820d;
    text-align: center;
    font-family: 'OpenSans-Light';
    font-weight: 300; }
  main .trabajos .contenedor-trabajos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    main .trabajos .contenedor-trabajos .trabajo {
      width: 23%;
      margin-bottom: 40px; }
      main .trabajos .contenedor-trabajos .trabajo .thumb {
        width: 100%;
        margin-bottom: 10px; }
        main .trabajos .contenedor-trabajos .trabajo .thumb img {
          width: 100%;
          vertical-align: top;
          border-radius: 3px; }
      main .trabajos .contenedor-trabajos .trabajo .descripcion {
        text-align: center; }
        main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre {
          font-family: "OpenSans-Bold";
          color: #3895ea;
          margin-bottom: 10px; }
        main .trabajos .contenedor-trabajos .trabajo .descripcion .categoria {
          font-family: 'OpenSans-Regular';
          font-size: 14px;
          color: #636363; }

/* ------- ------- footer ------- -------- */
footer .contacto {
  padding: 60px 0; }
  footer .contacto .titulo {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 45px;
    color: #3895ea;
    text-align: center;
    font-family: 'OpenSans-Light';
    font-weight: 300; }
  footer .contacto .formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    footer .contacto .formulario input[type=text],
    footer .contacto .formulario input[type=email],
    footer .contacto .formulario textarea {
      border: 2px solid #cecece;
      padding: 15px 20px;
      border-radius: 5px;
      font-size: 20px;
      color: #a4a4a4;
      font-family: 'OpenSans-Regular'; }
      footer .contacto .formulario input[type=text]:focus,
      footer .contacto .formulario input[type=email]:focus,
      footer .contacto .formulario textarea:focus {
        border: 2px solid #3895ea; }
    footer .contacto .formulario input[type=text],
    footer .contacto .formulario input[type=email] {
      width: 49%;
      margin-bottom: 25px; }
    footer .contacto .formulario textarea {
      width: 100%;
      height: 100px;
      min-width: 100%;
      max-width: 100%;
      min-height: 100px;
      max-height: 300px;
      margin-bottom: 25px; }
    footer .contacto .formulario .boton {
      display: block;
      margin: auto;
      background: #3895ea;
      color: #ffffff;
      border: none;
      border-radius: 3px;
      padding: 15px 40px;
      cursor: pointer; }
      footer .contacto .formulario .boton:hover {
        background: #1c69b1; }
footer .redes-sociales {
  background: #1e2b38;
  padding: 60px 0; }
  footer .redes-sociales .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  footer .redes-sociales a {
    display: block;
    color: #ffffff;
    width: 100px;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 30px;
    background: #cccc;
    margin: 0 20px;
    text-align: center; }
  footer .redes-sociales .twitter {
    background: #1da1f2; }
  footer .redes-sociales .facebook {
    background: #3b5998; }
  footer .redes-sociales .youtube {
    background: #ff0000; }
  footer .redes-sociales .github {
    background: #666666; }
  footer .redes-sociales .instagram {
    background: #3f729b; }

/* ------- ------- Media Queries ------- -------- */
@media screen and (max-width: 800px) {
  header .menu {
    text-align: center; }

  main .trabajos .contenedor-trabajos .trabajo {
    width: 46%; }

  footer .redes-sociales .contenedor a {
    margin-bottom: 20px; } }
@media screen and (max-width: 500px) {
  header .contenedor-texto .texto .nombre {
    font-size: 35px; }
  header .contenedor-texto .texto .profesion {
    font-size: 18px; } }
@media screen and (max-width: 450px) {
  header .contenedor-texto .texto .nombre {
    font-size: 30px; }
  header .contenedor-texto .texto .profesion {
    font-size: 16px; } }
@media screen and (max-width: 400px) {
  header .menu a {
    display: block;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px; }
    header .menu a:hover {
      border-bottom: 2px solid transparent; }
  header .contenedor-texto {
    margin: 50px auto 100px auto; }
    header .contenedor-texto .texto .nombre {
      font-size: 20px;
      margin-bottom: 0; }
    header .contenedor-texto .texto .profesion {
      font-size: 14px; } }

/*# sourceMappingURL=styles.css.map */
